# Скопируйте в .env и при необходимости поменяйте значения
POSTGRES_DB=marketadvanced
POSTGRES_USER=marketadvanced
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

REDIS_PASSWORD=change-me
REDIS_PORT=6379

RABBITMQ_USER=marketadvanced
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_MANAGEMENT_PORT=15672


MINIO_ROOT_USER=marketadvanced
MINIO_ROOT_PASSWORD=change-me
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

KEYCLOAK_PORT=8180
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

API_PORT=5080
CATALOG_PORT=5081
ASPNETCORE_ENVIRONMENT=Development

# число потоков воркера Hangfire (для CPU-тяжёлых задач 2-4, для IO больше)
HANGFIRE_WORKER_COUNT=4

# сколько сообщений RabbitMQ воркер берёт в обработку одновременно (MassTransit)
MASSTRANSIT_PREFETCH_COUNT=16
