# Скопируйте в .env и при необходимости поменяйте значения
POSTGRES_DB=marketadvanced
POSTGRES_USER=marketadvanced
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

REDIS_PASSWORD=change-me
REDIS_PORT=6379

RABBITMQ_USER=marketadvanced
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

KAFKA_PORT=9094
KAFKA_UI_PORT=8090

MINIO_ROOT_USER=marketadvanced
MINIO_ROOT_PASSWORD=change-me
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

API_PORT=5080
ASPNETCORE_ENVIRONMENT=Development
