# .NET
artifacts/
*.user
.vs/

# секреты и локальное
.env
appsettings.*.local.json

# frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
# учётка для нагрузочных тестов
ops/k6/.env.local
ops/k6/run-*.json
